.App {
  width: 95%;
  font-size: 1.6rem;
  margin: 0rem auto;
  padding: 3rem 5rem;
  background-color: rgba(210, 205, 203, 0.688);
}

.app {
  &__title {
    text-align: center;
  }
}

.pages__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.page__current {
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
}
