.item {
  &__wrapper {
    width: 50rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    box-shadow: 0rem 0rem 0.5rem 0.01rem rgba(0, 0, 0, 0.5);
  }
  &__body {
    flex-grow: 1;
    overflow: auto;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
